# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Labka1.iml
# Datasource local storage ignored files
/../../../../../../../:\Storage\StratienkoLab\Labka1\.idea\.idea.Labka1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
